.carousel-slide {
  position: relative;
}

.carousel-slide-user-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 5rem;
  height: 100%;
}

.carousel-slide-user-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 5rem;
  height: 100%;
}

.carousel-slide-user-quote > p {
  text-align: center;
  width: 85%;
}

@media (min-width: 280px) {
}
@media (min-width: 360px) {
  .carousel-slide-user-quote > p {
    width: 80%;
  }
}
@media (min-width: 425px) {
}
@media (min-width: 480px) {
  .carousel-slide-user-quote > p {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .carousel-slide-user-quote > p {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .carousel-slide-user-quote > p {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .carousel-slide-user-avatar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .carousel-slide-user-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    /* align-content: center; */
  }
  .carousel-slide-user-quote > p {
    text-align: justify;
    width: 80%;
  }
}
@media (min-width: 1440px) {
}
@media (min-width: 2880px) {
}
@media (min-width: 3840px) {
}
