footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--white-ff);
}
.copyright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.media-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.media-icons > figure > a {
  color: var(--grey-424041);
}
.media-icons > figure > a,
.media-icons > figure > a > i {
  margin-left: 0;
  padding-left: 0;
}
.media-icons > figure:nth-child(2) {
  margin-left: 1rem;
}
.media-icons a:hover {
  color: var(--green-00b371);
}

@media (min-width: 280px) {
  .copyright {
    justify-content: center;
  }
  .media-icons {
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .copyright {
    justify-content: flex-start;
  }
  .media-icons {
    justify-content: flex-end;
  }
}
