header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--white-ff);
  z-index: 42;
}

.header-logo > figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.header-logo > figure > img {
  width: 35%;
}

.header-auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.header-auth > button {
  margin-left: 1.5rem;
}

.header-auth > button:first-of-type {
  margin-left: 0;
}

@media (min-width: 280px) {
  .header-auth {
    justify-content: center;
  }
  .header-logo > figure {
    justify-content: center;
  }
  .header-logo > figure > img {
    width: 45%;
  }
}
@media (min-width: 768px) {
  .header-logo > figure > img {
    width: 35%;
  }
}
@media (min-width: 1024px) {
  .header-logo > figure > img {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .header-auth {
    justify-content: flex-end;
  }
  .header-logo > figure {
    justify-content: flex-start;
  }
  .header-logo > figure > img {
    width: 25%;
  }
}
