.carousel {
  position: relative;
  margin: auto;
  width: 90%;
}

.carousel > button {
  background-color: transparent;
  box-sizing: border-box;
  margin: 0em;
  padding: 0;
  border-width: 0;
  border-style: outset;
  border-color: none;
  border-image: initial;
}

.dot {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: var(--white-ff);
  opacity: 0.25;
  margin-left: 1rem;
}

.dot.selected {
  opacity: 1;
}

.dot:first-of-type {
  margin-left: 0;
}

.right-arrow,
.left-arrow {
  padding: inherit;
  position: absolute;
  top: 35%;

  z-index: 9999;
  color: var(--white-ff);
  opacity: 0.25;
}

.right-arrow {
  right: 0.5rem;
}

.left-arrow {
  left: 0.5rem;
}

.right-arrow i,
.left-arrow i {
  font-size: 8rem;
}

.right-arrow:hover,
.left-arrow:hover {
  color: var(--green-00b371);
  transition: transform ease-in 0.2s;
  transform: scale(1.25);
  opacity: 1;
}

@media (min-width: 280px) {
  .right-arrow,
  .left-arrow {
    top: 45%;
  }
}
@media (min-width: 360px) {
}
@media (min-width: 425px) {
}
@media (min-width: 480px) {
  .right-arrow,
  .left-arrow {
    top: 45%;
  }
}
@media (min-width: 768px) {
  .right-arrow,
  .left-arrow {
    top: 47.5%;
  }
}
@media (min-width: 1024px) {
  .right-arrow,
  .left-arrow {
    top: 45%;
  }
}
@media (min-width: 1200px) {
  .right-arrow,
  .left-arrow {
    top: 37.5%;
  }
}
@media (min-width: 1440px) {
}
@media (min-width: 2880px) {
}
@media (min-width: 3840px) {
}
